// Specific CSS for your home-page
.flex-container{
    display:flex;
  }

.flex-card-item {
  display: block;
}

.flex-map-item {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}

#map {
    flex: 0 0 450px;
    height: 100vh;
    position: sticky !important;
    top: 0 !important;
}

