<h1>Your Bookings:</h1>

<% @bookings.each do |booking| %>
  <h3>Trip to <% booking.spot.name %>:</h3>
  <h3><%= booking.booking_date %> - Status: <%= booking.is_approved ? "Approved" : "Pending" %></h3>
<% end %>
