
<div class="container">
  <h1 class= "booking-page-title">Your Bookings:</h1>
  <br>

  <% @bookings.each do |booking| %>
    <br>

    <%= render "shared/booking_card", booking: booking %>
  <% end %>

</div>
