


<div class="map_img-booking map-fullscreen">
    <div
      id="map"
      style="width: 100vw;
      height: 35vh;
      border-radius: 5px"


      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

<div class="container">

  <h1 class= "booking-page-title">Your Bookings:</h1>

  <br>

  <% @bookings.each do |booking| %>
    <br>

    <%= render "shared/booking_card", booking: booking %>
  <% end %>
  <%= link_to '<i class="far fa-arrow-alt-circle-left"></i>'.html_safe,  spots_path, style: 'color:#5A5A5A; font-size:40px' %>

</div>
