


<div class="banner" style="background-image: url(<%= asset_path "banner_background.jpeg" %>)">
  <div class="banner-content">
    <div class="row" id="banner-login">
      <%= link_to 'Login', '#', {:style=>'color:#FFFFFF;'}  %>
      <%= link_to 'SignUp', '#', {:style=>'color:#FFFFFF;'} %>
    </div>
    <h1>Sweet.Spot</h1>
    <p>This Moment belongs to you</p>
    <a class="btn btn-danger btn-lg">Find your spot</a>
  </div>
</div>

