<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.seattlemag.com/sites/default/files/field/image/11906303179a5642b40do_0.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>

  <img class="card-user" src="https://www.fabulousfaces.com/lib/upload/lrs1595.jpg">
  <a class="card-link" href="#" ></a>
</div>
