.flexbox {
  margin-top: 30px;
  display: flex;
}

.show-banner {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 2s, height 2s, transform 3s;
  -webkit-transition: width 2s, height 2s, transform 3s, 2s -webkit-filter linear;
  -o-transition: 2s -o-filter linear;
  filter: blur(5px);
}

.show-banner-expand {
  height: 50vh;
  -webkit-transition: width 2s, height 2s, transform 3s, 2s -webkit-filter linear;
  -o-transition: width 2s, height 2s, transform 3s, 2s -o-filter linear;
  filter: grayscale(30%);
  filter: blur(0px);
}

.show-map {
  display: flex-item;
  align-items: center;
}

.show-map-image {
  margin-top: 70px;
  width: 100%;
}

.show-review {
  padding: 0px 10px;
  margin: 10px 0px;
  border-style: solid;
  border-width: 1px;
}

.btn-book {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-booking {
  padding: 0px 10px;
  margin: 7px 0px;
  border-style: solid;
  border-width: 1px;
}
