

.flex-container{
    display:flex;
    margin: 0 auto;
  }

.flex-card-item {
  display: block;
}

.flex-map-item {
  flex: 0 0 450px;
  height: calc(100vh - 120px);
  position: sticky !important;
  top: 0 !important;
}

#map {
    flex: 0 0 450px;
    position: sticky !important;
    top: 0 !important;
}

